<div class="header-top">
  <div class="logo">
    <img src="../images/miscellaneous.png" alt="logo" />
    <a href="../../index.html"><span class="highlight">Cooking Online</span></a>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Dinner</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  <!-- <div>
    <input type="text" id="search-box" class="form-control" autocomplete="off" placeholder="Search for a Meal...">
    <button type="buttpn" id="search-btn" onclick="StartSearch()">Search</button>
</div> -->
</div>
<div class="breadcrumbs"></div>

<script></script>
