<head>
  <script src="./js/header.js" type="module"></script>
</head>
<div class="top-bar">
  <div class="header-top">
    <div class="logo">
      <a href="../../index.html">
        <img src="../images/beef.png" style="margin-left: 10px" alt="logo" />
        <span class="highlight" style="font-size: larger">
          Cooking Online
        </span>
      </a>
    </div>
    <div class="dropdown" id="nav-bar-list">
      <ul>
        <li>
          <button
            onclick="window.location.href='/categories/index.html?type=Breakfast'"
            class="dropbtn"
          >
            Breakfast
          </button>
        </li>
        <li>
          <button
            onclick="window.location.href='/categories/index.html?type=Dessert'"
            class="dropbtn"
          >
            Dessert
          </button>
        </li>
        <li>
          <button
            onclick="window.location.href='/categories/index.html?type=Beef'"
            class="dropbtn"
          >
            Beef
          </button>
        </li>
        <li>
          <button
            onclick="window.location.href='/categories/index.html?type=Chicken'"
            class="dropbtn"
          >
            Chicken
          </button>
        </li>
        <li>
          <button
            onclick="window.location.href='/categories/index.html?type=Pork'"
            class="dropbtn"
          >
            Pork
          </button>
        </li>
        <li>
          <button
            onclick="window.location.href='/categories/index.html?type=Seafood'"
            class="dropbtn"
          >
            Seafood
          </button>
        </li>
        <li>
          <button
            onclick="window.location.href='/saved/index.html'"
            class="dropbtn saved"
          >
            My List
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>

<script></script>
